* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

/*10px/16px = 0.625 = 62.5%*/

html {
  font-size: 62.5%;
}
body {
  box-sizing: border-box;
  width: 100%;
  font-family: 'Work Sans', sans-serif;
  font-size: 1.6rem;
  background-image: url(Assets/Background.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.flex {
  display: flex;
}
.container {
  width: 30%;
  margin: 0 auto;
  margin-top: 5%;
  border-radius: 1rem;
  overflow: hidden;
}
.box-top {
  background-color: #0033cc;
  position: relative;
}
.heading-main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 2rem;
  text-align: center;
  font-weight: 500;
  line-height: 1.5;
}
.box-bottom {
  background-color: #fff;
  padding: 2rem;
}
.text-top {
  text-align: center;
  margin-bottom: 3rem;
  color: #777;
}
.user-quote {
  text-align: center;
  color: #777;
}
.email-box {
  padding: 2rem;
  border-radius: .6rem;
  background-color: #f2f2f2;
  width: 70%;
  border: 1px solid #f2f2f2;
}
.btn {
  padding: 2rem;
  background-color: #0033cc ;
  border: none;
  display: inline-block;
  color: #fff;
  border-radius: .6rem;
  width: 400;
  cursor: pointer;
}
.text-middel {
  margin: 2rem 0 4rem 0;
  color: #777;
}
.avatar {
  align-items: center;
  justify-content: center;
  gap:  1rem;
  margin-bottom: 2rem;
}
.user-capacity {
  color: #777;
}

/**********************/
/*Below 1100px (Tablets*/
/***********************/
@media(max-width:1100px ){
  html {
    /*8px /16 = 0.5*/
    font-size: 70%;
  }
  .container {
    width: 60%;
    margin-bottom: 5%;
  }
}
/**********************/
/*Below 944px (Tablets*/
/***********************/
@media(max-width:59em ){
  html {
    /*8px /16 = 0.5*/
    font-size: 70%;
  }
  .container {
    width: 60%;
    margin-bottom: 5%;
  }
}

@media only Screen and (max-width: 40em) {
  html {
    font-size: 70%;
  }
  body {
    background-image: none;
  }
  .container {
    width: 100%;
    border-radius: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
  .email-box {
    max-width: 60%;
  }
}